body {
    background-color: #CCCCEE;
    font-family: "sans serif";
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.header {
    padding: 5px;
}

.footer {
    padding: 5px;
}

.form {
    font-weight: bold;
}

.results {
    border-top:    solid black;
    border-bottom: solid black;
    padding: 5px;
}

.results table {
    width: 100%;
}

.results table td {
    padding: 5px;
}

.found {
    color: #444;
    font-style: italic;
    font-weight: normal;
}

.unfound {
    color: #ff2222;
    font-style: italic;
    font-weight: bold;
}

.count {
    background-color: #aaaaff;
    text-align: right;
}

.phonemes {
    text-align: right;
    color: #444;
}

